.buttonExcel {
    width: 232px;
    height: 56px;
    border-radius: 52px;
    background-color: #003C96;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 50px;
    right: 50px;
    gap: 16px;
    transition: all ease .4s;
}

.buttonExcel:hover {
   background-color: #0261F0;
}
.buttonExcel:focus {
    background-color: #001E64;
}

.icon {
    width: 24px;
    height: 24px;
}