.buttonExcel {
    width: 232px;
    height: 56px;
    border-radius: 52px;
    background-color: #003C96;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 20px;
    gap: 16px;
    transition: all ease .4s;
}

.buttonExcel:hover {
    opacity: 0.6;
}
.icon {
    width: 24px;
    height: 24px;
}