.Tabs__menu {

  margin-top: 30px;
  display: flex;
}

.Tabs__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.Tabs__buttons {
  display: flex;
  flex-direction: row;
}

.Tabs__tabs {
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  border-radius: 52px;
  /* background-color: var(--COLOR_LIGHT_BLUE); */
  background-color: rgba(236, 243, 255, 1);
}

.Tabs__tabLink {
  margin: 0 5px;
  width: 230px;
  height: 48px;
  border-radius: 52px;
  transition: all ease 0.5s;

  color: #2C2A29;

  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.Tabs__tabLink:hover {
  opacity: 0.6;
}

.Tabs__tabLink_noActive {
  margin: 0 5px;
  width: 230px;
  height: 48px;
  color: #2C2A29;
  transition: all ease 0.5s;
  border-radius: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tabs__tabLink_noActive:hover {
  opacity: 0.6;
}

.Tabs__button {
  width: 156px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #2c2a29;
  background-color: #ffffff;
  transition: all ease 0.3s;

  visibility: visible;

}

.Tabs__button:hover {
  color: #0261F0;
  background-color: #ecf3ff;
  border-radius: 52px;
}

.Tabs__button:focus {
  color: #001E64;
  background-color: #ecf3ff;
  border-radius: 52px;
}

.Tabs__buttonIcon {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/filter.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease .3s;
}

.Tabs__buttonIconCalendar {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/calendar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease .3s;
}

.Tabs__buttonIcon:hover {
  background-image: url("../../assets/filter-hover.svg");
}

.Tabs__buttonIconForcast {
  width: 20px;
  height: 20px;
  background-image: url("../../assets/forcast.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all ease .3s;
}

.Tabs__buttonIconForcast:hover {
  background-image: url("../../assets/forcast-hover.png");
}

.Tabs__button_hide {

  width: 156px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #2c2a29;
  background-color: #ffffff;
  transition: all ease 0.3s;
  visibility: hidden;

}

.Tabs__hideDiv {
  width: 156px;
  height: 56px;
  display: flex;
}