.MainPage {

  padding: 0 32px;

  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.noBlur {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  background-color: black;
  opacity: 0;
  overflow: hidden;
  transition: all ease .5s;
}

.blur {
  z-index: 10;
  opacity: 0.36;
}