.table {
  display: flex;
  flex-direction: column;
  height: 768px;
  overflow: scroll;
  scrollbar-width: thin;
  margin-bottom: 30px;
}
.tableSales {
  display: flex;
  flex-direction: column;
  height: 768px;
  overflow: scroll;
  scrollbar-width: thin;
  margin-bottom: 30px;
}


.table::-webkit-scrollbar {
  width: 8px;
}
.table::-webkit-scrollbar:horizontal {
  height: 8px;
}

.table::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  width: 8px;
  border-radius: 10px;
}

.table::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #ececec;
}
.tableSales::-webkit-scrollbar:horizontal {
  height: 8px;
}

.tableSales::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  width: 8px;
  border-radius: 10px;
}

.tableSales::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #ececec;
}

.table__content {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table__head {
  display: flex;
  position: sticky;
  top: 0;
  border-bottom: "1px solid #B6B6B6";
}
.table__rowHead {
  display: flex;
  position: "sticky";
  background-color: white;
  top: 0;
}

.table__columnField {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 164px;
  padding: 16px;
  height: 76px;
  gap: 8px;
  font-size: 16px;
  border-bottom: "1px solid #B6B6B6";
  cursor: pointer;
  transition: all ease 0.3s;
}
.table__columnField:hover {
  opacity: 0.7;
}
.table__columnField:nth-child(1) {
  width: 116px;
}

.table__columnField:nth-child(n + 6) {
  width: 146px;
  display: flex;
  justify-content: center;
}

.table__columnName {
  font-size: 16px;
  font-weight: 700;
  color: #2c2a29;
}

.table__columnFilter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.table__columnFilter_icon {
  width: 8px;
  height: 6px;
}
.table__rows {
  height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table__row {
  height: 89px;
  border-radius: 24px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table__row:nth-child(odd) {
  background-color: #f5f5f5;
}
.table__row:nth-child(even) {
  background-color: white;
}
.table__row:last-child {
  margin-bottom: 60px;
}

.table__rowCell {
  padding: 16px;
  width: 164px;
  height: 76px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.table__rowCell:nth-child(1) {
  width: 116px;
}
.table__rowCell:nth-child(5) {
  display: flex;
}

.table__rowCell:nth-child(n + 6) {
  width: 146px;
  display: flex;
  justify-content: center;
}

.table__rowCellText {
  width: 80px;
  font-size: 14px;
  font-weight: 400;
  color: #2c2a29;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.table__rowCellDiff {
  width: 55px;
  height: 24px;
  border-radius: 8px;
  border: 1px solid #007841;
  background-color: #ccfaaf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__rowCellTextDiff {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #007841;
}
