.table {
    height: 768px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: thin;  
}

.table__content {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 700px;
}
.table::-webkit-scrollbar {
    width: 8px;
}
.table::-webkit-scrollbar:horizontal {
    height: 8px;
}

.table::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    width: 8px;
    border-radius: 10px;
    
}

.table::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #ECECEC;
}

.table__head {
    display: flex;
    position: "sticky";
    top: 0;
    background-color: "white";
    border-bottom: '1px solid #B6B6B6';
}

.table__columnField {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 132px;
    padding: 16px;
    height: 76px;
    gap: 8px;
    font-size: 16px;
    border-bottom: '1px solid #B6B6B6'

}
.table__columnField:nth-child(1) {
    width: 84px;
 }

.table__columnField:nth-child(n+6) {
    width: 114px;
    display: flex;
    justify-content: center;
 }

.table__columnName {
    font-size: 16px;
    font-weight: 700;
    color: #2C2A29
}

.table__columnFilter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.table__columnFilter_icon {
    width: 8px;
    height: 6px;
}
.table__rows {
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.table__row {
    height: 89px;
    border-radius: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table__row:nth-child(odd) {
    background-color: #F5F5F5;
}
.table__row:nth-child(even) {
    background-color: white;
}
.table__row:last-child {
  margin-bottom: 60px;
}

.table__rowCell {
    padding: 16px;
    width: 132px;
    height: 76px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #2C2A29;
}
.table__rowCell:nth-child(1) {
    width: 84px;
 }
 .table__rowCell:nth-child(5) {
    display: flex;
    justify-content: center;
 }

.table__rowCell:nth-child(n+6) {
    width: 114px;
    display: flex;
    justify-content: center;
 }