@import '../src/vendor/normalize.css';
@import url('../src/fonts/stylesheet.css');

body {
    font-family: Verdana, sans-serif;
    font-style: normal;

    --COLOR_DARK: rgba(44, 42, 41, 1);
    --COLOR_GRAY: rgba(182, 182, 182, 1);
    --COLOR_BLUE: rgba(0, 60, 150, 1);
    --COLOR_DISABLED_TEXT: rgba(175, 175, 175, 1);
    --COLOR_INPUT_BORDER: rgba(180, 200, 255, 1);
    --COLOR_BUTTON_DISABLED: rgba(246, 246, 246, 1);
    --COLOR_NOT-VALID: rgba(226, 54, 73, 1);
    --COLOR_BUTTON_ACTIV: rgba(0, 30, 100, 1);
    --COLOR_WHITE: rgba(255, 255, 255, 1);
    --COLOR_GREEN: rgb(0, 128, 0);

    --COLOR_LIGHT_BLUE: rgba(236, 243, 255, 1)

    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

input {
    all: unset;
}